* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mobile navgeation */
.mobile-navignation {
  list-style: none;
}
.mobile-navignation li {
  margin-top: 20px;
}
.mobile-navignation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #121212;
}
